.square {
    width: 30px;
    height: 30px;
    background-color: red;
    display: block;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: green;
    margin-top: 5px;
}