.profile {
    margin-top: 0;
    width: 200px;
    height: 313px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.profile-img {
    display: inline-block;
}

.cat {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 0;
}

.profile-info {
    display: inline-block;
}

p {
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 7px;
}

.name {
    font-weight: bold;
    padding-top: 7px;
}

.friend-list {
    margin-top: 2px;
}

.friends {
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
}

.friends-number {
    display: inline-block;
    vertical-align: middle;
}

.friend-img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
    margin-left: 6px;
}

.description {
    color: gray;
    font-size: 15px;
    margin-top: 0;
    margin-left: 5px;
}

button {
    background-color: rgb(90, 128, 210);
    color: white;
    border: none;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 7px;
    margin-top: 5px;
    cursor: pointer;
}