p {
    font-family: arial;
    margin-bottom: 0;
    text-align: center;
  }
  .question {
    font-weight: 600;
    font-size: 28px;
  }
  .text {
    margin-top: 18px;
  }

  .link {
    color: blue;
  }

  .link:hover {
    text-decoration: underline;
  }