p {
    font-family: Roboto, arial;
    margin-top: 0;
    margin-bottom: 0;
  }

  body{
    /* comment */
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(247, 247, 247);
    font-family: roboto, arial;
  }

  a{
    font-family: roboto, arial;
    text-decoration: none;
  }